<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/895aa1ad-966b-421c-837b-4d87112fad9e/resourceGroups/fa21Homework/providers/Microsoft.Web/sites/fa21ParkMichaelHW5</ResourceId>
    <ResourceGroup>fa21Homework</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://fa21parkmichaelhw5.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>fa21parkmichaelhw5.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fa21ParkMichaelHW5</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fa21ParkMichaelHW5</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>