@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService


@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to the Longhorn Tees!</h1>

<a asp-action="Index" asp-controller="Products" class="btn btn-success">View Our Products</a>

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Customer"))
    {
        <a asp-action="Index" asp-controller="Orders" class="btn btn-danger">View Orders</a>
    }
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Index" asp-controller="Orders" class="btn btn-danger">View Orders</a>
        <a asp-action="Index" asp-controller="Suppliers" class="btn btn-warning">View Suppliers</a>
        <a asp-action="Index" asp-controller="RoleAdmin" class="btn btn-warning">Manage Users</a>
    }
}